---
layout: default
---

<div class=row>
  <article class="span7 offset1">
    <section class="page-header">
      <h2>
        {{page.title}}
        <small>{{page.caption}}</small>
      </h2>
    </section>
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/{{page.name}}-1.png"/>
        </div>
        <div class="item">
          <img src="/images/{{page.name}}-2.png"/>
        </div>
        <div class="item">
          <img src="/images/{{page.name}}-3.png"/>
        </div>
        <div class="item">
          <img src="/images/{{page.name}}-4.png"/>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- myCarousel -->
    <section>
      {{content}}
    </section>
  </article>
  <aside class="span3">
    {% include facebook-like-box.html %}
    {% include twitter-timeline-widget.html %}
  </aside>
</div><!-- row -->
